body{
	background:linear-gradient(red,blue,green);
}
#a{
	height: 200px;
	width: 40%;
	background-color: orange;
	margin: 120px;
	padding: 100px;
	border-radius: 600px;
	text-align: center;
margin-left: 300px;
}
h1{
	text-align: center;
	font-size: 2em;
	color: yellow;
}
#b{
height: 100px;
width: 150px;
background-image: url('http://jbic.co.in/images/demo/contact.gif');
margin-top: -50px;
float: left;
background-position: center;
}
h2 a{
	color: white;
font-size: 2em;
}
h2 a:hover{
color: red;